<div class="header">
  <div class="header__heading">Курси валют</div>

  <table mat-table [dataSource]="currencyList" class="mat-elevation-z8">

    <ng-container matColumnDef="ccy">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let currency">{{currency.ccy}} <span>{{currency.base_ccy}}</span></td>
    </ng-container>

    <ng-container matColumnDef="buy">
      <th mat-header-cell *matHeaderCellDef>Купівля</th>
      <td mat-cell *matCellDef="let currency"> {{currency.buy.toFixed(2)}} </td>
    </ng-container>

    <ng-container matColumnDef="sale">
      <th mat-header-cell *matHeaderCellDef>Продаж</th>
      <td mat-cell *matCellDef="let currency">{{currency.sale.toFixed(2)}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let currency; columns: displayedColumns;"></tr>
  </table>
</div>
