.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    color: #dfdfdf;
    padding-right: 32px;
  }

  &__heading {
    border: 2px solid #75af26;
    margin: 0 0 16px;
    padding: 16px;
    font-size: 20px;
  }
}

th.mat-header-cell{
  border: hidden;
  font-size: 13px;
}

tr.mat-header-row {
  height: 18px !important;
  padding: 0 0 16px;
}

.mat-elevation-z8 {
  box-shadow: none !important;
}

.mat-row .mat-cell {
  padding: 0 30px 0 0;
  border-bottom: hidden;
  border-top: hidden;
}

