.converter {
  padding: 16px;

  &__currency {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__sum {
    display: flex;
    justify-content: space-between;
  }

  svg {
    height: 15px;
    width: 15px;
    margin-bottom: 16px;
  }

}

.mat-form-field-appearance-fill::ng-deep .mat-form-field-flex::ng-deep {
  background: none !important;
  border-radius: 0;
  border: 1px solid #75af26;
}

