<div class="converter">
  <form [formGroup]="currencyForm" class="example-form">
    <div class="converter__currency">
      <mat-form-field appearance="fill" class="converter__select">
        <mat-label>Choose the currency</mat-label>
        <mat-select
          formControlName="convertible"
          (change)="onChange('Convertible')"
        >
          <mat-option *ngFor="let currency of currencyList" [value]="currency.buy">
            {{currency.ccy}}
          </mat-option>
          <mat-option [value]="UAH.buy">{{UAH.ccy}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="converter__select">
        <mat-label>Choose the currency</mat-label>
        <mat-select
          formControlName="converting"
          (change)="onChange('Converted')"
        >
          <mat-option *ngFor="let currency of currencyList" [value]="currency.buy">
            {{currency.ccy}}
          </mat-option>
          <mat-option [value]="UAH.buy">{{UAH.ccy}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="converter__sum">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Convertible sum</mat-label>
        <input matInput
               type="number"
               formControlName="convertibleSum"
               placeholder="0"
               value="{{this.currencyForm.value.convertibleSum}}"
               (change)="onChange('Convertible')"
        >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Converted sum</mat-label>
        <input matInput
               type="number"
               formControlName="convertedSum"
               placeholder="0.00"
               value="{{this.currencyForm.value.convertedSum}}"
               (change)="onChange('Converted')"
        >
      </mat-form-field>
    </div>
  </form>
</div>

