body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  color: #333;
  font-family: sans-serif;
  font-size: 20px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
